<% @articles.each do |article| %>

<h2><a href="/articles/<%= article.id %>"><%= article.title %></a></h2>
<em><%= article.category.name %></em>
<p>Published at <%= article.created_at.strftime('%b %d %Y') %></p>
<p><%= truncate(article.content, length: 200) %></p>
<p>Submitted by  <%= article.user.email %></p>
<% end %>

<% if user_signed_in? %>
<a href="/articles/new">New Article</a>

<% end %> 