





<br>
<br>
<br>


<% @secrets.each do |u| %>

<%= @user.name %> 

  <p><%= u.content %> </p> 
  <p><%= u.likes.count %> likes</p>

<% if @likes.where(secret_id:u.id).first.nil?  %> 


 <form action='/likes' method='post'>
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
    <input type='hidden' name='secret_id' value='<%= u.id %>'>
    <input type='hidden' name='user_id' value='<%= session[:user_id] %>'>
    <input type='submit' value="Like">
  </form>

<% end %> 

<% if u.likes.count > 0 %> 
    <form action='/likes/<%= u.id %>' method='post'>
      <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
      <input type='hidden' name='_method' value='delete'>
      <input type='hidden' name='user_id' value='<%= session[:user_id] %>'>
      <input type='submit' value='Unlike'>
    </form>

<% end %> 

    <form action='/secrets/<%= u.id %>' method='post'>
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
      <input type='hidden' name='_method' value='delete'>
       <input type='hidden' name='user_id' value='<%=
        current_user.id %>'>
      <input type='submit' value='Delete'>
    </form>


<br>
<br> 
<br> 

<% end %> 